<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
	.update-all-wrap{
	width: 1200px;
	border: 1px solid #ccc;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.update-btn{
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
</style>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="update-all-wrap">
		<h3>마이 페이지</h3>
		<form action="/user/updateUser" method="post">
			<div class="update-wrap">
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userId">아이디</label>
					</div>
					<div class="update-content">
						<input type="hidden" name="userNo" th:value="${session.user.userNo}">
						<input type="text" name="userId" id="userId" th:value="${session.user.userId}" readonly>
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userPw">비밀번호</label>
					</div>
					<div class="update-content">
						<a href="/user/updatePwFrm">비밀번호 변경하기</a>
						<!-- <input type="text" name="userPw" id="userPw" th:value="${session.user.userPw}" placeholder="변경할 비밀번호를 입력해 주세요"> -->
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userName">이름</label>
					</div>
					<div class="update-content">
						<input type="text" name="userName" id="userName" th:value="${session.user.userName}" >
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userBirth">생년월일</label>
					</div>
					<div class="update-content">
						<input type="text" name="userBirth" id="userBirth" th:value="${session.user.userBirth}" readonly>
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userGender">성별</label>
					</div>
					<div class="update-content">
						<input type="text" name="userGender" id="userGender" th:value="${session.user.userGender}" readonly>
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userEmail">이메일</label>
					</div>
					<div class="update-content">
						<input type="text" name="userEmail" id="userEmail" th:value="${session.user.userEmail}" readonly>
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userPhone">휴대전화</label>
					</div>
					<div class="update-content">
						<input type="text" name="userPhone" id="userPhone" th:value="${session.user.userPhone}">
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userAddr">주소</label>
					</div>
					<div class="update-content">
						<input type="text" name="userAddr" id="addr" th:value="${session.user.userAddr}">
						<button type="button" id="searchBtn">주소검색</button>
					</div>
					<div>
						<span>주소를 검색하고 상세주소를 옆에 같이 적어주세요</span>
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="userLevel">회원등급</label>
					</div>
					<div class="update-content">
						<input type="text" name="userId" id="userId" th:value="${session.user.userLevel}" readonly>
					</div>
				</div>
				<div class="update-input-wrap">
					<div class="update-title">
						<label for="enrollDate">가입일</label>
					</div>
					<div class="update-content">
						<input type="text" name="enrollDate" id="enrollDate" th:value="${session.user.enrollDate}" readonly>
					</div>
				</div>
				<div class="update-btn">
					<input type="submit" value="정보수정"></input>
				</div>
			</div>
		</form>
		<div class="delete-btn">
			<a href="/user/delete">회원탈퇴</a>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script>
		//주소 검색 api
		$("#searchBtn").on("click", function(){
			new daum.Postcode({
		        oncomplete: function(data) {
		        	$("#addr").val(data.roadAddress); // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
		        },
		        onclose: function(state) {
		            if(state === 'FORCE_CLOSE'){
		            } else if(state === 'COMPLETE_CLOSE'){
		            }
		        }
		    }).open();
		});
	</script>
</body>
</html>