<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경하기</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="change-pw-wrap">
		<h3>비밀번호 변경하기</h3>
		<div class="exist-pw-wrap">
			<label for="oldPw">기존 비밀번호 입력: </label>
			<input type="password" id="oldPw">
			<button type="button" th:onclick="oldPwCheck([[${session.user.userId}]],this)">확인</button>
		</div>
		<form action="/user/changePw" id="changePwFrm" method="post">
			<div class="change-wrap">
				<label for="userPw">새 비밀번호 입력<span id="pwCheckMsg"></span></label>
				<input type="text" name="userPw" id="userPw">
			</div>
			<div class="change-wrap">
				<label for="userPwRe">새 비밀번호 확인<span id="pwReCheckMsg"></span></label>
				<input type="text" name="userPwRe" id="userPwRe">
			</div>
			<div class="change-wrap">
				<input type="hidden" name="userNo" th:value="${session.user.userNo}">
				<input type="submit" value="변경하기" onclick="return checkPw();">
			</div>
		</form>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script>
		//기존 비밀번호 변경용
		function oldPwCheck(userId, obj){
			const userPw = $("#oldPw").val();
			$.ajax({
				url : "/user/oldPwCheck",
				data : {userId:userId, userPw:userPw},
				type: "post",
				success: function(data){
					if(data == 1){
						$(obj).parent().slideUp();
						$("#changePwFrm").slideDown();
					}else{
						alert("패스워드를 확인하세요");
					}
				},
				error : function(data){
					console.log(err);
				}
			});
		}
		
		//비밀번호 유효성 검사
		$("#userPw").on("keyup",function(){
			const userPw = $("#userPw").val();
			const pwReg = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%])[A-Za-z\d!@#$%]{6,14}$/;
			if(pwReg.test(userPw)){
				$("#pwCheckMsg").text("사용가능한 비밀번호입니다.");
				$("#pwCheckMsg").css("color", "green");
			}else{
				$("#pwCheckMsg").text("영문 대소문자/숫자/특수문자(!@#$%) 조합이 필요합니다 (6~14자이내)");
				$("#pwCheckMsg").css("color", "red");		
			}
			
		});
		
		//비밀번호 일치 확인
		$("#userPwRe").on("change",function(){
			const pwValue = $("#userPw").val();
			const pwReValue = $("#userPwRe").val();
			if(pwValue === pwReValue){
				$("#pwReCheckMsg").text("비밀번호가 일치합니다.");
				$("#pwReCheckMsg").css("color", "green");
			}else{
				$("#pwReCheckMsg").text("비밀번호가 일치하지 않습니다.");
				$("#pwReCheckMsg").css("color", "red");				
			}
		});
	</script>
</body>
</html>